Problémem dnešních potravin je často nedostatek vlákniny. Konzumace potravin bohatých na vlákninu může být pro řadu lidí zdravotně prospěná. Vyhledej v tabulce food_nutrient potraviny, které obsahují alespoň 10 gramů vlákniny. Vláknina je uložená pod názvem Fiber, total dietary. Napiš dotaz jako jeden příkaz a využij operátor &.

In [2]:
import pandas as pd
path = "https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/podmineny-vyber/podmineny-vyber/food_nutrient.csv"
data = pd.read_csv(path)

In [3]:
# Which items have at least 10g of fiber
enough_fiber = data[
    (data["name"] == "Fiber, total dietary")
    & (data["amount"] >= 10)
]
enough_fiber

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
83639,1109336,1079,10.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
83666,1114461,1079,10.7,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
83667,1114961,1079,10.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
83675,1117734,1079,10.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
83681,1118500,1079,11.1,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91545,2638057,1079,15.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91584,2651678,1079,39.5,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91598,2654454,1079,10.7,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91599,2654695,1079,11.8,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91629,2660613,1079,10.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G

In [4]:
# Which rows contain > 100 000 mg
# Which rows contain > 100 g
erroneous_amount = data[
    (data["amount"] > 100000)
    & (data["unit_name"].str.lower() == "mg")
    |
    (data["amount"] > 100)
    & (data["unit_name"].str.lower() == "g")
]
erroneous_amount

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
18231,1048385,1092,101770.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Potassium, K",MG
18888,1527945,1092,176991.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Potassium, K",MG
63254,944746,1093,282828.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG
65700,1599725,1093,323944.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG
67418,1982925,1093,203125.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG
68232,2149015,1093,415625.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG
69486,2465074,1093,528986.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG
69528,2472749,1093,857143.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG
69647,2495397,1093,183333.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG

In [11]:
# nízký obsah nasycených mastných kyselin ("Fatty acids, total saturated", uvažuj méně než 1 gram),
# vysoký obsah vlákniny ("Fiber, total dietary", uvažuj více než 4 gramy).

healthy_nutrients = data[
    (data["name"] == "Fatty acids, total saturated")
    & (data["amount"] < 1)
    |    
    (data["name"] == "Fiber, total dietary")
    & (data["amount"] > 4)    
]
healthy_nutrients

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
43596,1107191,1258,0.4,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
43600,1107950,1258,0.0,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
43601,1108007,1258,0.0,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
43602,1108158,1258,0.0,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
43603,1108349,1258,0.0,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91604,2655540,1079,4.2,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91608,2655929,1079,7.5,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91609,2656307,1079,9.4,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91623,2659199,1079,5.4,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91629,2660613,1079,10.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G